html, body {
    margin: 0;
    padding: 0px;
}

.container{
    width: 300px;
    height: 100dvh;
    background-color: black;
    color: beige;
}

.title{
    background: grey;
    margin-top: 0;
    text-align: center;
    height: 50px;
    font-size: 40px;
    border-radius: 10px;
    color: white;
}

span{
    color: rgb(234, 182, 9);
}

#password{
    text-align: center;
    margin-top: 150px;
    font-size: 22px;
    
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

button{
    width: 100px;
    padding: 10px 15px;
    background: white;
    color: color;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

